	* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	background-color: #f0f0f0;
	color: #666;
}

header {
	width: 100%;
	height: 98px;
	background-color: #1e4969;
	padding-top: 5px;
	color:  #fff;
}

header .logo {
	width: 5.4%;
	height: 77%;
	position: relative;
	margin-top: 3px;
	left: 2%;
	z-index: 9999999;
	max-width: 100%;
	max-height: 100%;
}

header h1 {
	position: relative;
	backface-visibility: hidden;
	z-index: 9999999;
	margin-left: 8%;
	margin-top: -3%;
	font-family: 'Raleway';
}

#hamburger {
	height: 60px;
	width: 60px;
	position: absolute;
	top: 5%;
	right: 2%;
	z-index: 9999999;
	padding: 6px;
	box-sizing: border-box;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	cursor: pointer;
	overflow: hidden;
}

.lines {
	flex: 1 58%;
	height: 8px;
	background: #fff;
	margin-left: auto;
	margin-right: auto;
	border-radius: 2px;
	box-shadow: inset 0 0 4px #888;
	transition: all 0.2s ease-in-out;
}

#hamburger.open .lines:first-child {
	transform: rotate(-40deg);
	position: relative;
	top: 22.5px;
	transition: all 0.2s ease-in-out;	
}

#hamburger.open .lines:nth-child(2) {
	transform: rotate(50deg);
	transition: all 0.2s ease-in-out;
}

#hamburger.open .lines:last-child {
	display: none;
}

#hamburger.open nav ul {
	transform: translatex(0);
}

nav {
	width: 32%;
	height: 42.5px;
	position: absolute;
	right: 6%;
	top: 55px;
	font-weight: bold;
	box-sizing: border-box;
	text-transform: uppercase;
	font-size: 84%;
	z-index: 9999999;
	overflow: hidden;
}

nav ul {
	position: absolute;
	transform: translatex(540px);
	transition: all 0.3s ease-in-out;
}

nav a {
	color: #bbb;
}

nav li {
	list-style: none;
	display: table-cell;
	padding: 8px;
	height: 30px;
	color: #999;
	white-space: nowrap;
}

nav > ul > li:nth-child(4) a, nav ul li:hover a {
	color: #f1f1f1;
}

#blogMenu {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	background: #fff;
	font-family: raleway;
	text-transform: uppercase;
	font-size: 75%;
	font-weight: bold;
	}

#blogMenu a {
	color: #333;
	}
	
#blogMenu div {
	padding: 2%;
	}
	
#blogMenu > div:first-child, #blogMenu div:hover {
	background: #f7f7f7;
	}
	
#blogMenu form {
	position: absolute;
	right: 2.5%;
	height: 70%;
	width: 15.5%;
	margin-top: .8%;
	overflow: hidden;
	}
	
#blogMenu input {
	height: 100%;
	width: 100%;
	font-size: 100%;
	border: 1px solid #aaa;
	font-family: lato;
	}
	
#blogMenu form i {
	background: #f0f0f0;
	color: #888;
	padding: 3%;
	position: absolute;
	left: 76.7%;
	top: 2%;
}

main {
	padding: 6% 3%;
	padding-left: 5%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

section {
	width: 55%;
}

aside {
	flex: 1 30%;
	height: 800px;
	border: 1px inset silver;
	border-left: 1px outset silver;
	border-top: 1px outset silver;
	margin-left: 20%;
	background: #fff;
}

.new-post {
	height: 300px;
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 10%;
	backgroud: #f7f7f7;
	bordr: 1px solid;
	
}

.image-holder {
	overflow: hidden;
	opacity: .90;
	height: 180px;
	flex: 1 100%;
}

.text-holder {
	flex: 1 100%;
	display: flex;
	flex-flow: row wrap;
	bordr: 1px solid;
	height: 60px;
}

.article-title {
	font-size: 120%;
	flex: 1 100%;
	height: 30px;
	background: #691e49;
	margin-top: -6%;
	padding: 1% 5% 0;
	z-index: 1;
	text-align: center;
}

.article-title a {
	color: #ccc;
}

.articleBody {
	text-align: justify;
	font-size: 80%;
	flex: 1 100%;
	margin-top: -%;
	padding-right: 5%;
	line-height: 22px;
	color: #aaa;
	height: auto;
}

.more {
	flex: 1 100%;
	font-size: 85%;
	height: 15px;
}

.more a {
	color: #49691e;
}

#book-of-the-month p:first-child, #testimonies p:first-child, #announcements p:first-child, #social p:first-child {
	text-transform: uppercase;
	color: #bbb;
	background: #333;
	padding: 3% 1% 0;
	text-align: center;
}

#book-image {
	height: 220px;
	box-shadow: 0 0 3px #999;
	width: 55%;
	margin: 6% auto;
}

#book-image img {
	max-height: 100%;
	max-width: 100%;
}

#book-image:hover {
	transform: scale(1.2);
}

#book-of-the-month p:last-child {
	text-transform: capitalize;
	color: #333;
	background: #bbb;
	padding: 1% 3%;
	margin-bottom: 1px;
	font-size: 85%;
	height: 25px;
}

#testimonies {
	height: 210px;
}

#testimonies p:nth-child(2) {
	padding: 6% 7% 0;
	font-size: 85%;
	line-height: 20px;
}

#testimonies p:last-child {
	padding: 1% 7%;
	font-size: 85%;
	text-transform: capitalize;
}

#testimonies a {
	color: #337abc;
}

#announcements ul {
	margin: 5% auto 0;
	width: 95%;
}

#announcements li {
	line-height: 25px;
	list-style: none;
	font-size: 90%;
	padding: 0 5%;
	border-bottom: 1px outset white;
}

#social-button-holder {
	display: flex;
	flex-flow: row nowrap;
	padding-top: 5%;
}

#social-button-holder div {
	flex: 0 10%;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: #bbb;
	padding: 3%;
	padding-left: 4%;
	margin-left: 7%;
	font-size: 135%;
}

#social div a {
	color: #555;
}

footer {
	height: 250px;
	background: #555;
	padding-top: 6%;
}

#quicklinks {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

#quicklinks a {
	color: #aaa;
	text-transform: uppercase;
	margin-right: 4%;
	font-size: 75%;
}

footer div:nth-child(2) {
	margin: 0 auto;
	width: 38%;
	height: 85px;
	padding-top: 3%;
	color: #888;
	font-size: 70%;
}

footer div:nth-child(2) img {
	height: 80%;
	max-width: 100%;
	opacity: .5;
}

footer div:nth-child(3) {
	float: right;
	width: 15%;
	background: #116ba1;
	color: #ddd;
	padding: 1%;
	white-space: nowrap;
	margin-top: 1.8%;
	font-size: 85%;
}

footer div:nth-child(3) a {
	color: #fff;
}