	* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	background-color: #f0f0f0;
	color: #666;
}

header {
	width: 100%;
	height: 98px;
	background-color: #1e4969;
	padding-top: 5px;
	color:  #fff;
}

header .logo {
	width: 5.4%;
	height: 78%;
	position: relative;
	margin-top: 3px;
	left: 2%;
	z-index: 9999999;
	max-width: 100%;
	max-height: 100%;
}

header h1 {
	position: relative;
	backface-visibility: hidden;
	z-index: 9999999;
	margin-left: 8%;
	margin-top: -3%;
	font-family: 'Raleway';
}

#hamburger {
	height: 60px;
	width: 60px;
	position: absolute;
	top: 5%;
	right: 2%;
	z-index: 9999999;
	padding: 6px;
	box-sizing: border-box;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	cursor: pointer;
	overflow: hidden;
}

.lines {
	flex: 1 58%;
	height: 8px;
	background: #fff;
	margin-left: auto;
	margin-right: auto;
	border-radius: 2px;
	box-shadow: inset 0 0 4px #888;
	transition: all 0.2s ease-in-out;
}

#hamburger.open .lines:first-child {
	transform: rotate(-40deg);
	position: relative;
	top: 22.5px;
	transition: all 0.2s ease-in-out;	
}

#hamburger.open .lines:nth-child(2) {
	transform: rotate(50deg);
	transition: all 0.2s ease-in-out;
}

#hamburger.open .lines:last-child {
	display: none;
}

#hamburger.open nav ul {
	transform: translatex(0);
}

nav {
	width: 32%;
	height: 42.5px;
	position: absolute;
	right: 6%;
	top: 55px;
	font-weight: bold;
	box-sizing: border-box;
	text-transform: uppercase;
	font-size: 84%;
	z-index: 9999999;
	overflow: hidden;
}

nav ul {
	position: absolute;
	transform: translatex(540px);
	transition: all 0.3s ease-in-out;
}

nav a {
	color: #bbb;
}

nav li {
	list-style: none;
	display: table-cell;
	padding: 8px;
	height: 30px;
	color: #999;
	white-space: nowrap;
}

nav > ul > li:nth-child(4) a, nav ul li:hover a {
	color: #f1f1f1;
}

#blogMenu {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	background: #fff;
	font-family: raleway;
	text-transform: uppercase;
	font-size: 75%;
	font-weight: bold;
	}

#blogMenu a {
	color: #333;
	}
	
#blogMenu div {
	padding: 2%;
	}
	
#blogMenu > div:nth-child(4), #blogMenu > div:hover {
	background: #f7f7f7;
	}
	
#blogMenu form {
	position: absolute;
	right: 2.5%;
	height: 70%;
	width: 15.5%;
	margin-top: .8%;
	overflow: hidden;
	}
	
#blogMenu input {
	height: 100%;
	width: 100%;
	font-size: 100%;
	border: 1px solid #aaa;
	font-family: lato;
	}
	
#blogMenu form i {
	background: #f0f0f0;
	color: #888;
	padding: 3%;
	position: absolute;
	left: 76.7%;
	top: 2%;
}

#categoryHolder {
	position: absolute;
	margin-left: -2%;
	display: none;
	opacity: 0;
	width: 10%;
	background: #f7f7f7;
	transition: all .4s ease-in-out;
}

#blogMenu div:nth-child(2):hover #categoryHolder {
	display: block;
	opacity: 1;
	transition: all .4s ease-in-out;
	z-index: 999;
}
	
main {
	min-height: 400px;
}

section {
	width: 65%;
	margin: 2% auto;
	padding: 1% 5% 3%;
	box-shadow: 0 1px 4px #cfcfcf;
	background: #e8e8e8;
	border-right: 3px solid #eee;
	border-left: 3px solid #eee;
}

section h1 {
	margin-bottom: 2%;
	padding-left: 2%;
}

section h1:before {
	content: '';
	position: absolute;
	border: 1px solid;
	width: 3%;
	margin-top: 2%;
}

#success {
	padding: 2% 3%;
	color: #48bb65;
	font-weight: bold;
}

#profilePic {
	border-radius: 50%;
	overflow: hidden;
	height: 200px;
	width: 25%;
}

#profilePic img {
	margin-top: -5%;
	max-width: 100%;
	opacity: .8;
}

label {
	font-weight: bold;
}

#bio {
	width: 90%;
	height: 150px;
	resize: none;
	font-family: inherit;
	font-size: 120%;
	padding: 1% 2%;
}

#count {
	height: 20px;
	padding: 1%;
	margin-left: 85%;
}

section input:not([type="submit"]) {
	width: 90%;
	height: 40px;
	font-family: inherit;
	font-size: inherit;
}

section input[type="submit"], input[type="file"]::-webkit-file-upload-button {
	border: 0;
	border-radius: 3px;
	color: #f7f7f7;
	cursor: pointer;
	font-family: lato;
	padding: 1%;
	background: #286090;
	margin-top: 5%;
}

section input[type="file"]::-webkit-file-upload-button {
	margin-top: initial;
}

#email-setting, #pwd {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 90%;
	margin-top: 2%;
	padding-bottom: 2%;
}

#email-setting {
	height: 40px;
	overflow: hidden;
}

#email-setting a {
	color: #900;
}

#email-setting input, #pwd input {
	flex: 1 35%;
	margin-top: 1%;
}

#email-setting input:last-child, #pwd input:nth-child(2) {
	margin-left: 7%;
}

#email-setting #current {
	flex: 1 50%;
	margin-bottom: 3%;
}

#indicator {
	color: red;
	bordr: 1px solid;
	height: 40px;
	margin-left: 10%;
	padding: 2%;
}

footer {
	height: 250px;
	background: #555;
	padding-top: 6%;
}

#quicklinks {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

#quicklinks a {
	color: #aaa;
	text-transform: uppercase;
	margin-right: 4%;
	font-size: 75%;
}

footer div:nth-child(2) {
	margin: 0 auto;
	width: 38%;
	height: 85px;
	padding-top: 3%;
	color: #888;
	font-size: 70%;
}

footer div:nth-child(2) img {
	height: 80%;
	max-width: 100%;
	opacity: .5;
	}

footer div:nth-child(3) {
	float: right;
	width: 15%;
	background: #116ba1;
	color: #ddd;
	padding: 1%;
	white-space: nowrap;
	margin-top: 1.8%;
	font-size: 85%;
}

footer div:nth-child(3) a {
	color: #fff;
}